{% extends 'base.html' %}

{% block title %}
    Assessment de Perfil Comportamental
{% endblock %}

{% block header %}
    Assessment de Perfil Comportamental
{% endblock %}

{% block header_description %}
    Baseado no modelo DISC
{% endblock %}

{% block content %}
    <div class="container">
        <section class="my-5">
            <h2>O que é o Modelo DISC?</h2>
            <p>Uma breve explicação sobre o modelo DISC e como ele é usado para avaliar perfis comportamentais.</p>
        </section>

        <section class="my-5">
            <h2>Realize o Assessment</h2>
            <p>Faça o seu cadastro e logo depois preencha o questionário para descobrir seu perfil comportamental de acordo com o modelo DISC.</p>
            <a href="{% url 'account_signup' %}" class="btn btn-primary mt-4">Iniciar o Assessment</a>
            <a href="{% url 'account_login' %}" class="btn btn-secondary mt-4">Já tenho cadastro</a>
        </section>
    </div>
{% endblock %}

{% block footer %}
    <div class="container text-center py-4">
        &copy; 2023 Assessment de Perfil Comportamental
    </div>
{% endblock %}
