{% extends 'base.html' %}

{% load static %}

{% block title %}Perfil DISC - Dominante{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-12">
                <!-- Conteúdo do Perfil-->
                <article>

                    <!-- Conteúdo do Perfil-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-12">
                <!-- Conteúdo do Perfil-->
                <article>
                    <!-- Cabeçalho do Perfil-->
                    <header class="mb-4 text-center">
                        <!-- Foto do Perfil-->
                        <div class="mb-4">
                            <img src="{% static 'images/capa_perfil_dominante.jpg' %}" class="img-fluid rounded-3" alt="Foto do Perfil Dominante" width="800" height="400">
                        </div>
                        <!-- Título do Perfil-->
                        <div><h1 class="fw-bolder mb-1:">Perfil DISC Dominante - O Líder Nato!</h1>
                        <!-- Subtítulo do Perfil-->
                        <div class="text-muted fst-italic mb-2 text-center">Compreendendo o Perfil Dominante</div>
                    </header>
                

                    <!-- Descrição do Perfil Dominante DISC -->
                    <section class="mb-5">
                        <p class="fs-5 mb-4 text-justify-content-center">
                            💼 <strong>O Que é:</strong><br>
                            <p>Imagine-se como o protagonista de um filme de ação cheio de adrenalina. Esse personagem é destemido, sempre à frente, tomando decisões rápidas e liderando com confiança. Esse é o espírito do perfil Dominante, conhecido como "D" no DISC.</p>

                            <p>Se você se vê nessa descrição, pode ser um verdadeiro "D". Pessoas com esse perfil são naturalmente inclinadas a assumir o comando. Elas são como aqueles líderes natos que, em situações desafiadoras, se destacam, mostrando o caminho e tomando as rédeas.</p>

                            <p>Mas não é só sobre ser assertivo e decidido. O perfil "D" também é marcado por uma grande ambição e uma forte vontade de alcançar resultados. Você tem metas altas e está sempre em busca de alcançá-las, custe o que custar. Para você, cada desafio é uma oportunidade de mostrar sua capacidade e seu talento para liderar.</p>

                            <p>Em uma equipe, você é aquele que traz direção e clareza. Sua habilidade de ver o quadro geral e tomar decisões firmes é vital em momentos de incerteza. Você não tem medo de confrontar obstáculos ou de enfrentar situações difíceis. Na verdade, você se energiza com isso.</p>

                            <p>Seu estilo de liderança é direto e objetivo. Você é franco em suas comunicações, preferindo ir direto ao ponto. Isso pode ser extremamente eficaz em situações onde ação rápida e decisões firmes são necessárias.</p>

                            <p>Porém, é importante lembrar que cada estilo tem seus desafios. Sua natureza direta e impaciente pode às vezes ser percebida como agressividade ou insensibilidade. É importante equilibrar sua abordagem assertiva com empatia e consideração pelas perspectivas dos outros.</p>

                            <p>Em suma, se você é um perfil "D", você é uma força a ser reconhecida. Sua paixão, sua energia e sua capacidade de liderar e motivar são qualidades únicas que podem te levar longe, especialmente no início da sua carreira. Use-as sabiamente e você será um líder excepcional!</p>                        </p>
                       
                            <br><p class="fs-5 mb-4 text-justify-content-center">
                            🚀 <strong>Características Principais:</strong><br>
                            - <strong>Decisivo:</strong> Você não tem medo de tomar decisões. Na verdade, você adora! Assumir riscos? Traçar metas audaciosas? É com você mesmo!<br>
                            - <strong>Independente:</strong> Você é como um super-herói solitário. Gosta de ter autonomia e prefere trabalhar sozinho ou liderar o grupo.<br>
                            - <strong>Prático:</strong> Você é daqueles que preferem ação ao invés de muita conversa. "Menos papo, mais ação" poderia ser seu lema.<br>
                            - <strong>Competitivo:</strong> Adora um desafio e tem uma vontade imensa de vencer. Você vê cada projeto como uma nova missão a ser conquistada.
                        </p>
                        <p class="fs-5 mb-4 text-justify-content-center">
                            🔥 <strong>No Trabalho:</strong><br>
                            Como estagiário ou no seu primeiro emprego, usar essas características pode te fazer brilhar. Você será aquele que não tem medo de pegar projetos difíceis ou de dar ideias inovadoras. Sua energia e paixão podem inspirar toda a equipe!
                        </p>
                        <p class="fs-5 mb-4 text-jus">
                            💡 <strong>Dicas de Sucesso:</strong><br>
                            1. <strong>Confiança é tudo:</strong> Acredite no seu taco! Sua confiança pode abrir muitas portas.<br>
                            2. <strong>Cuidado com a pressa:</strong> Lembre-se, nem tudo é uma corrida. Às vezes, é importante desacelerar e ouvir os outros.<br>
                            3. <strong>Trabalho em Equipe:</strong> Mesmo que você prefira liderar, aprender a trabalhar em equipe é essencial. Seus colegas têm muito a oferecer!
                        </p>
                    </section>

                    <!-- Tabela de Pontos Fortes e Fracos -->
                    <section>
                        
                        <table class="table table-danger table-bordered text-center table-striped table-borderles" style="border-radius: 10px;">
                            <thead class = "table-dark">
                                <tr>
                                    <th>Pontos Fortes</th>
                                    <th>Pontos Fracos</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Assertividade e liderança</td>
                                    <td>Pode ser percebido como autoritário</td>
                                </tr>
                                <tr>
                                    <td>Capacidade de tomar decisões rapidamente</td>
                                    <td>Tendência a não considerar opiniões alheias</td>
                                </tr>
                                <tr>
                                    <td>Resolução eficaz de problemas</td>
                                    <td>Impaciência com detalhes ou demoras</td>
                                </tr>
                                <tr>
                                    <td>Independência e autoconfiança</td>
                                    <td>Dificuldade em mostrar empatia</td>
                                </tr>
                                <tr>
                                    <td>Foco em resultados e eficiência</td>
                                    <td>Risco de conflitos em equipe</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>

                    <!-- Seção de Perfis de Pessoas -->
                    <section class="text-center mt-5">
                        <h2 class="fw-bolder mb-4">Pessoas com este Perfil</h2>
                        <div class="row">
                            <!-- Molde de círculo para cada pessoa -->
                            <!-- [Insira aqui as imagens e nomes de três pessoas com o perfil Dominante] -->
                        </div>
                    </section>
                    
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}
