<!DOCTYPE html>
<html>
<head>
    <title>Perfil Usuário</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'core:index' %}">Home</a></li>
                <li><a href="{% url 'core:sobre' %}">About</a></li>
                <li><a href="{% url 'core:contato' %}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% if resultado_disc %}
        <h1>Seu Perfil DISC</h1>
        <p>Dominante: {{ resultado_disc.dominante }}</p>
        <p>Influente: {{ resultado_disc.influente }}</p>
        <p>Estabilidade: {{ resultado_disc.estabilidade }}</p>
        <p>Conformado: {{ resultado_disc.conformado }}</p>
        <a href="{% url 'disc:teste_disc' %}">Refazer o Teste DISC</a> <!-- Opção de refazer o teste-->

    {% else %}
        <h1>Você ainda não fez o teste DISC</h1>
        <a href="{% url 'disc:teste_disc' %}">Fazer o Teste DISC</a> <!-- Nome da URL para a view do questionário -->

    {% endif %}
    
    </main>

    <a href="{% url 'user_auth:logout' %}" class="btn btn-danger">Deslogar</a>


    <footer>
        <p>&copy; 2021 My Site</p>
    </footer>
</body>
</html>
