<!-- FILEPATH: /c:/Users/gonca/Desktop/Danielle/TCC/TCC_oficial/disc_assessment/user_auth/templates/perfil.html -->

{% extends 'base.html' %}

{% block title %}Perfil Usuário{% endblock %}

{% block content %}
    <h1>Seu Perfil DISC</h1>
    {% if resultado_disc %}
        <p>Dominante: {{ resultado_disc.dominante }}</p>
        <p>Influente: {{ resultado_disc.influente }}</p>
        <p>Estabilidade: {{ resultado_disc.estabilidade }}</p>
        <p>Conformado: {{ resultado_disc.conformado }}</p>

        <h2>Seu perfil mais alto: {{ perfil_mais_alto }}</h2>

        <h3>Descrição</h3>
        <p>{{ descricao_perfil }}</p>
        
        <h3>Locais de trabalho ideais</h3>
        <p>{{ locais_trabalho }}</p>
        
        <a href="{% url 'disc:teste_disc' %}" class="btn btn-primary">Refazer o Teste DISC</a>
    {% else %}
        <h2>Você ainda não fez o teste DISC</h2>
        <a href="{% url 'disc:teste_disc' %}" class="btn btn-primary">Fazer o Teste DISC</a>
    {% endif %}
    <a href="{% url 'user_auth:logout' %}" class="btn btn-danger">Deslogar</a>
{% endblock %}
