<!-- FILEPATH: /c:/Users/gonca/Desktop/Danielle/TCC/TCC_oficial/disc_assessment/disc/templates/resultado_disc.html -->

{% extends 'base.html' %}

{% block title %}Resultados DISC{% endblock %}

{% block content %}
    <h1>Seus Resultados</h1>
    
    <h2>Médias por perfil</h2>
    <ul>
        <li>Dominante: {{ object.dominante }}</li>
        <li>Influente: {{ object.influente }}</li>
        <li>Estabilidade: {{ object.estabilidade }}</li>
        <li>Conformado: {{ object.conformado }}</li>
    </ul>
    
    <h2>Seu perfil mais alto: {{ perfil_mais_alto }}</h2>

    <h3>Descrição</h3>
    <p>{{ descricao_perfil }}</p>
    
    <h3>Locais de trabalho ideais</h3>
    <p>{{ locais_trabalho }}</p>
    
    <!-- Link para voltar ao perfil do usuário -->
    <a href="{% url 'user_auth:perfil' %}">Retornar ao Perfil</a>
{% endblock %}
